<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" src="stylesheet.css" type="text/css">
    </head>

    <body>
        <div align="center" id="codebox">
            <form action="/process" method="POST">
                <legend><a href="http://nep.repec.org/">NEP fields</a></legend>
                <table>
                    <th>Title</th>
                    <th>Weight</th>
                    {% for code in codes %}
                    <tr>
                        <td>
                            {{ code.long }}
                        </td>
                        <td>
                            <input type="text" name="{{ code.code }}" value=0>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <input type="submit" />
            </form>
        </div>
    </body>


</html>
